

# Created by .ignore support plugin (hsz.mobi)
# IntelliJ project files
logs
out
gen
docs/index.html
docs/index.pdf
build
output
.idea
*.iml

### Java template
*.class

# Package Files #
*.jar
!gradle-wrapper.jar
*.war
*.ear

*~
.DS_Store
*.log

# Maven
.maven